{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Wall</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ entity.value }}</td>
            </tr>
            <tr>
                <th>Moderate</th>
                <td>{{ entity.moderate }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('wall') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('wall_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

    
    <table class="table table-striped">
        <tbody>
        {% if search.statuses is defined %}
            {% for row in search.statuses %}
                <tr>
                    <td><img class="b-image-profile thumbnail" src="{{ row.user.profile_image_url }}" alt="{{ row.user.screen_name }}"/></td>
                    <td>
                        <h3>{{ row.user.name }}</h3>
                        <em>@<a href="https://twitter.com/{{ row.user.screen_name }}">{{ row.user.screen_name }}</a></em>
                        <p>{{ row.text }}</p>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            {% for row in search %}
                <tr>
                    <td><img class="b-image-profile thumbnail" src="{{ row.user.profile_image_url }}" alt="{{ row.user.screen_name }}"/></td>
                    <td>
                        <h3>{{ row.user.name }}</h3>
                        <em>@<a href="https://twitter.com/{{ row.user.screen_name }}">{{ row.user.screen_name }}</a></em>
                        <p>{{ row.text }}</p>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
