<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" media="screen">

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('twit_app_homepage') }}">MyTwit</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                {%  if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="#">Catégorie</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {%  if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_profile_show') }}">Mon Compte</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                    <li><a href="{{ path('hwi_oauth_service_redirect', {service: 'twitter'}) }}">By Twitter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block breadcrumb %}{% endblock %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
</div>
</body>
</html>
